.metricWrap {
  padding: 10px 20px;
  background-color: var(--bg-dark-1);
  cursor: help;
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  min-width: 0;
}

.metricWrap > div {
  white-space: nowrap;
}

.metricWrap > div:last-child {
  flex: 1;
  padding-top: 10px;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
