.loader {
  margin: 10px;
}

.loader::after {
  animation: shift 1s linear 0s infinite;
  content: '';
  font-family: monospace;
}
@keyframes spin {
  0% {
    content: '[|]';
  }
  25% {
    content: '[/]';
  }
  50% {
    content: '[-]';
  }
  75% {
    content: '[\\]';
  }
  100% {
    content: '[|]';
  }
}
@keyframes shift {
  0% {
    content: '###...';
  }
  16% {
    content: '.###..';
  }
  32% {
    content: '..###.';
  }
  48% {
    content: '...###';
  }
  64% {
    content: '#...##';
  }
  80% {
    content: '##...#';
  }
  100% {
    content: '###...';
  }
}
