.tableWrap {
  position: relative;
}

.tableWrap > table {
  margin-left: 10px;
}

.pubkey {
  display: inline-block;
  width: 100px;
  padding-top: 4px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.metricWrap {
  display: flex;
  padding: 10px;
}
