.complexMetricWrap {
  padding: 8px 14px;
  background-color: var(--bg-dark-1);
  border-radius: 4px;
  cursor: help;
}

.complexMetricWrap > div {
  white-space: nowrap;
}

.complexMetricWrap > div:first-child {
  font-size: 16px;
  color: var(--text-light-1);
  opacity: 0.75;
}

.complexMetricWrap > div:last-child {
  margin-top: 4px;
  font-size: 23px;
  color: var(--text-light-2);
}
