.complexMetricWrap {
  padding: 10px 20px;
  background-color: var(--bg-dark-1);
  cursor: help;
  display: flex;
  flex-direction: column;
}

.complexMetricWrap > div {
  white-space: nowrap;
}

.complexMetricWrap > div:last-child {
  flex: 1;
  padding-top: 10px;
  font-size: 24px;
  display: flex;
  align-items: center;
}
